<div fxLayout="row" fxLayoutAlign="center center" class="wrapper">
  <div fxFlex="30">
    <mat-card class="mat-elevation-z10">
      <div class="text-center mb-3 mt-4">
        <h3>Get your free account</h3>
      </div>
      <mat-card-content>
        <div class="text-center mb-2">
          <small class="font-weight-bold">Register with social media account</small>
        </div>

        <div fxLayout="row" fxLayoutGap="10px">
          <div fxFlex>
            <button mat-raised-button class="btn-block btn-facebook">Facebook</button>
          </div>
          <div fxFlex>
            <button mat-raised-button color="warn" class="btn-block">Google</button>
          </div>
        </div>

        <div class="text-center mb-4">
          <h6 style=" position: relative;top: 17px;background: #fff;display: inline-block;padding: 0 15px;"> or</h6>
          <div style=" height: 1px;background: #cecece;"></div>
        </div>

        <form>

          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Enter your password">
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>

          <button type="submit" mat-raised-button class="btn-block" color="primary">Sign me up</button>
        </form>
        <mat-progress-bar class="mt-2" mode="indeterminate"></mat-progress-bar>

        <div class="text-center mb-4">
          <h6 style=" position: relative;top: 17px;background: #fff;display: inline-block;padding: 0 15px;"> -- </h6>
          <div style=" height: 1px;background: #cecece;"></div>
        </div>

        <button mat-raised-button class="btn-block mb-4" (click)="onClickBackToSignIn()">Back to Sign In</button>


      </mat-card-content>
    </mat-card>
  </div>
</div>
