/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import '~@angular/material/theming';
@import '~bootstrap/dist/css/bootstrap.min.css';
/* custom theme start*/

@include mat-core();
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);

/*custom theme end */


// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Montserrat, sans-serif',
  $body-1: mat-typography-level(14px, 24px, 500)
);

// Override the typography in the core CSS.
@include mat-core($custom-typography);


//* {
//  font-family: 'Montserrat', sans-serif;
//}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #f1f1ff;
}

.mat-form-field {
  width: 100%;
}

.btn-facebook {
  background: #4267b2;
  color: white;
}

.btn-google {
  background: #d44a3d;
  color: white;
}
