/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/theming";

/* custom theme start*/

@include mat-core();
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);

/*custom theme end */

*{
  font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background: #f1f1ff;
}

.mat-form-field {
  width: 100%;
}

.btn-facebook {
  background: #4267b2;
  color: white;
}

.btn-google {
  background: #d44a3d;
  color: white;
}
